{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="js/slideshow.js"></script>
{% endblock %}

{% block body %}
    <div id="slideshow" class="hidden">
        <ul>

        </ul>
    </div>
{% endblock %}