<ul>
    {% for entry in informationEntries %}
        <li class="slideshow-element"
                {% if entry.backgroundImageName != null %}
            style="background-image: url('{{ vich_uploader_asset(entry, 'backgroundImageFile') }}')"
                {% endif %}>
            <div class="slideshow-title">
                <h2>{{ entry.title }}</h2>
            </div>
            <div class="slideshow-content text-center" style="color: {{ entry.contentColor| default(craue_setting('default_content_color')) }}">
                {{ entry.content|nl2br }}
            </div>
        </li>
    {% endfor %}
</ul>