{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="js/slideshow.js"></script>
{% endblock %}

{% block body %}
    <div id="slideshow-wrapper">
        <div id="slideshow" class="hidden">

        </div>
    </div>
{% endblock %}