{% extends 'base.html.twig' %}

{% block body %}
    <div class="padded-page">
        <h1>InformationEntry creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <h3 class="text-center"><a href="{{ path('entry_information_index') }}">Back to the list</a></h3>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/color-picker-initialization.js"></script>
{% endblock %}